* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';

    background: #E5E5E5;
}

body::before {
    content: '';

    width: 100%;
    height: 436px;

    background: #535971;

    position: absolute;

    top: 0px;
    left: 0px;

    z-index: -1;
}

body .page {
    width: 750px;

    margin: 0 auto;

}

body .page header h1 {
    font-family: 'Staatliches';

    font-weight: 400;
    font-size: 48px;
    line-height: 60px;

    color: #FFFFFF;

    margin-top: 140px;
}

body .page header p {
    width: 417px;

    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;

    margin-top: 18px;
}

body form {
    width: 750;
    min-height: 300px;

    background: #FFFFFF;
    border-radius: 20px 20px 0px 0;

    padding: 56px;

    margin-top: 58px;

    display: flex;

    flex-direction: column;

    gap: 30px;

}

body form fieldset {
    border: none;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;

    gap: 20px;


}

.fieldset-wrapper legend {
    font-family: 'Staatliches';
    font-style: normal;

    font-size: 24px;
    line-height: 34px;

    color: #535971;

    border-bottom: 1px solid #E6E6F0;

    width: 100%;

    padding-bottom: 16px;


}

.duol-name {
    display: flex;
    gap: 20px;



}

.duol-name>div:nth-child(-n+2) {
    width: 100%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;




}

.fieldset-wrapper #first-mentorship {
    border: none;

    font-family: 'Staatliches';
    font-style: normal;

    font-size: 20px;
    line-height: 34px;

    padding-bottom: 8px;




}

.input-wrapper label {

    font-size: 14px;
    line-height: 24px;

    color: #4E4958;
    margin-bottom: 8px;
}

.input-wrapper label span {
    font-size: 12px;
    line-height: 20px;


    color: #C1BCCC;
}





.input-wrapper input {
    border: 1px solid #E6E6F0;
    border-radius: 8px;

    height: 56px;
    width: 100%;
    padding: 0 15px;
    background: #FAFAFC;


}

.time {
    display: flex;
    gap: 30px;



}

.time>div:nth-child(1) {
    width: 50%;

}

.time .horas>div:nth-child(1) {
    width: 100%;
}

.time .horas>div:nth-child(2) {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;

}

.wrapper label {
    font-size: 14px;
    line-height: 24px;

    color: #4E4958;
    margin-bottom: 8px;
}

.wrapper input {
    border: 1px solid #E6E6F0;
    border-radius: 8px;

    height: 56px;
}

.horas {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 50%;
}

footer {
    height: 160px;
    width: 100%;

    padding: 40px 64px;



    background: #535971;
    border-radius: 0px 0px 20px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    
}


footer .button {
    background: #FF5374;
    width: 608px;
    height: 55.65px;
    padding: 15px 40px;

    color: white;

    border: none;

    border-radius: 20px;

    font-family: 'Staatliches';
    
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    
    

}